@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@700;800&display=swap');

@theme {
  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-sans: "Inter", sans-serif;

  /* Theme Variables */
  --bg-main: #0f172a;
  --text-main: #f1f5f9;
  --text-muted: #94a3b8;
  --border-subtle: rgba(51, 65, 85, 0.5);
  --bg-card: rgba(30, 41, 59, 0.3);
  --bg-nav: rgba(15, 23, 42, 0.9);
}

.light-theme {
  --bg-main: #f8fafc;
  --text-main: #0f172a;
  --text-muted: #475569;
  --border-subtle: #e2e8f0;
  --bg-card: #ffffff;
  --bg-nav: rgba(255, 255, 255, 0.8);
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  @apply font-sans antialiased transition-colors duration-300;
}

.prose {
  max-width: 65ch;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--border-subtle);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}
